@model assignment1Comp2007.Models.brewery

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>brewery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.breweryLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.breweryLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.breweryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.breweryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.features)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.features)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.breweryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
