@model IEnumerable<assignment1Comp2007.Models.beer>

@{
    ViewBag.Title = "Create A Beer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beer Table</h2>


    <button type="button" class="btn btn-secondary">@Html.ActionLink("Create A Beer", "Create")</button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brewery.breweryLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beerType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canOrBottle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brewery.breweryLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canOrBottle)
        </td>
        <td>
            <button class="btn btn-secondary">@Html.ActionLink("Edit", "Edit", new { id = item.beerID }) </button>
            <button type="button" class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.beerID })</button> 
            <button type="button" class="btn btn-warning">@Html.ActionLink("Delete", "Delete", new { id = item.beerID })</button>
        </td>
    </tr>
}

</table>
